<XSSConfig>
	<ListenPort>8086</ListenPort>
	<ListenAddress>0.0.0.0</ListenAddress>
	<UsersPerProxy>100</UsersPerProxy>
	<ProxiesPerServer>1</ProxiesPerServer>
	<GCInterval>20</GCInterval>
	<PrintStatus>true</PrintStatus>
	<MaxPingTime>60</MaxPingTime>
	<DieOnBadModule>1</DieOnBadModule>
	<ClientIdleTimeout>60</ClientIdleTimeout>
	<InitialThreadPool>3</InitialThreadPool>
        <GrowableThreadPool>0</GrowableThreadPool>
        <CreateSpareThread>false</CreateSpareThread>
        <BroadcastUnhandledTags>false</BroadcastUnhandledTags>
        <EnableAsynchSend>true</EnableAsynchSend>

	<GlobalModuleProperties>
            <Property name="globalEcho" value="false"/>
	</GlobalModuleProperties>

	<Modules>
                <Module source="classpath" name="se.bricole.xss.modules.CaesarFilter">
                    <Property name="direction" value="outbound" />
                </Module>
		<Module source="classpath" name="se.bricole.xss.server.GenericXMLModule"/>
                <Module source="classpath" name="nu.dll.redbull.GameSession">
                    <Property name="max-clients" value="3" />
                    <Property name="auto-ping" value="true" />
                    <Property name="broadcast-game-create-remove" value="false" />
                </Module>

	</Modules>
</XSSConfig>